.infoLinks .redesAlongers{
    padding: 0;
    grid-row: 2;
    justify-self: start;
    margin: 0 -5px;
}

.infoLinks .redesAlongers button{
    margin: 0;
    margin-right: 20px;
}

.infoLinks .appleMusic{
    padding: 0;
    grid-row: 3;
    justify-self: start;
}

.infoLinks .appleMusic img{
    margin: 0px 0px;
}

.infoLinks .pRedes{
    margin: 0;
    font-size: larger;
    align-self: end;
    margin: 10px 0;
} 

.agradecimiento{
    display: flex;
    justify-content: center;
    height: 20vh;
}

.agradecimiento div{
    align-self: center;
}


@media only screen and (max-width: 400px) {
    .redesContactosMobile{
        display: block;
    }

    .redesContactosDesk{
        display: none;
    }
    .redesContactosMobile .appleMobile{
     margin-bottom: 50px;
    }
    
    .infoLinks{
        justify-content: center;
        justify-items: center;
        margin-bottom: 50px;
    }
  }


.redesContactosDesk{
    display: block;
}

.redesContactosMobile{
    display: none;
}


